.customer {
  border: 1px solid lightgray;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: min-content;
  min-width: 300px;
}

.BRONZE::before {
  content: "🥉";
}
.SILVER::before {
  content: "🥈";
}
.GOLD::before {
  content: "🥇";
}
